.root {
    -fx-background-color: black;
    -fx-background-image: url("img/background/dirt.jpg");
}

#labelsBox {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 3, 0, 0, 3;

}

#speedBonusLbl {
    -fx-font-size: 125%;
}

#helpLbl {
    -fx-text-fill: darkorange;
    -fx-font-size: 175%;
    -fx-font-style: normal;
}


#head {

}

#food {

}
#foodTimeLbl {

}

.label {
    -fx-font-size: 175%;
    -fx-text-fill: chartreuse;
    /*-fx-text-fill: ;*/
    -fx-alignment: center;
    -fx-font-style: oblique;
    -fx-font-weight: bold;
}

#bestScoreLbl {
    -fx-text-fill: darkorange;
    /*-fx-alignment: center;*/
}

#pointsLbl {

}